<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.bootsy_area :body, :rows '12', :colums '6' %>
  </div>
  <div class="form-group">
    <%= f.label :course_id, "Course" %><br />
    <%= f.collection_select :course_id, Course.order(:title), :id, :title, include_blank: true %>
  </div>

  <div class="form-group">
    <%= f.submit "Create Note", class: "btn btn-primary" %>
  </div>

<% end %>